// Table of Contents

.toc-wrapper {
  display: inline-block;
  position: sticky;
  top: calc(var(--spacer-3) * 2.5);
  width: auto;
  padding-left: var(--spacer);
  padding-right: var(--spacer);
  background-color: var(--body-bg);
}

.toc-title {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  border: 1px solid;
  border-radius: 0.3em 0.3em 0 0;
  padding: 0.5rem;
  margin: 0;
  color: var(--body-color);
  background-color: var(--body-bg);
  border-color: var(--border-color);
}

.toc-nav {
  font-size: 0.8em;
  max-height: 60vh;
  overflow-y: scroll;
  border: 1px solid;
  border-top: 0px;
  border-radius: 0 0 0.3em 0.3em;
  border-color: var(--border-color);
  background-color: var(--body-bg);
  color: var(--body-color);

  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;

  ul {
    margin: 0;
    padding: 0;
  }

  a {
    padding: 0;
    margin: 0;
    display: block;
    text-decoration: none;
    color: var(--body-color);
    transition: color 0.2s;
  }

  a:hover {
    color: var(--link-color);
  }

  ul {
    list-style: none;

    li {
      font-weight: bold;
      font-size: 1em;

      a {
        padding-top: .3em;
        padding-bottom: .3em;
        padding-left: .5em;
        padding-right: .5em;
      }
    }
  }

  li ul {
    padding-left: 1em;
  }

  li ul li {
    font-weight: normal;
    font-size: 0.9em;

    a {
      padding-top: .2em;
      padding-bottom: .2em;
    }
  }

  li ul li ul {
    padding-left: 1em;
  }

  li ul li ul li {
    font-size: 0.85em;
  }
}